{% extends 'base.html' %}

{% block title %}Products{% endblock %}

{% block content %}
<h1>Products</h1>
<form method="GET" action="{% url 'products_view' %}">
    <input type="text" name="q" placeholder="Search...">
    <button type="submit">Search</button>
</form>
<ul>
    {% for product in products %}
        <li>
            <img src="{{ product.image.url }}" alt="{{ product.name }}" width="100">
            {{ product.name }} - <a href="{% url 'product_view' product.id %}">See more</a>
            <form method="POST" action="{% url 'add_to_cart' product.pk %}">
                {% csrf_token %}
                <input type="number" name="quantity" value="1" min="1">
                <button type="submit">Add to Cart</button>
            </form>
        </li>
    {% endfor %}
</ul>
{% endblock %}
